h1{
    color: #ffffff;
    font-size: 60px;
    background-color: black;
    text-align: center;
    line-height: 100px;
    text-shadow: 8px 8px 6px magenta;
}

h1:hover{
    background-color: #62b7d3;
}

p{
    font-weight: bold;
    font-style: italic;
}

img{
    width: 300px;
    height: 300px;
}

img:hover{
    opacity: 0.8;
}